<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ChatBot Academy</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/chatbotacademylogo.png') }}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
	<div class="flex h-screen" id="wrapper">
		<!-- Sidebar -->
		<aside class="bg-gray-800 text-white w-64 space-y-6 py-7 px-4 hidden sm:block" id="sidebar-wrapper">
			<div class="flex justify-center">
				<img src="{{ url_for('static', filename='img/chatbotacademylogo.png') }}" class="w-20 h-20 rounded-full"
					alt="Logo">
			</div>
			<nav>
				<a href="{{ url_for('index') }}" class="block py-2.5 px-4 rounded transition hover:bg-gray-700">IAs</a>
				<a href="{{ url_for('get_prompts_ia') }}"
					class="block py-2.5 px-4 rounded transition hover:bg-gray-700">Prompts</a>
			</nav>
		</aside>

		<!-- Mobile menu button -->
		<div class="sm:hidden bg-gray-800 text-white p-4 w-full fixed top-0 z-10">
			<div class="flex justify-between items-center">
				<img src="{{ url_for('static', filename='img/chatbotacademylogo.png') }}" class="w-10 h-10 rounded-full"
					alt="Logo">
				<button data-drawer-target="sidebar-wrapper" data-drawer-toggle="sidebar-wrapper"
					aria-controls="sidebar-wrapper" type="button"
					class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200">
					<span class="sr-only">Abrir menu</span>
					<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path clip-rule="evenodd" fill-rule="evenodd"
							d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
						</path>
					</svg>
				</button>
			</div>
		</div>

		<!-- Page Content -->
		<main class="flex-1 overflow-y-auto sm:pt-0 pt-16" id="page-content-wrapper">
			<div class="container mx-auto p-4">{% block content %}{% endblock %}</div>
		</main>
	</div>

	<!-- Flowbite JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
</body>

</html>